* {
	transition: all ease 0.6s;
	-webkit-transition: all ease 0.6s;
	-moz-transition: all ease 0.6s;
}

ul.chatmessage{
	padding:0;
}

li.chatmsg{
	list-style-type: none;
	position:relative;
}

hr {
	border-top: 1px solid #eee;
}

.chat-container {
	margin-bottom: 10px;
	visibility: hidden;
	opacity: 0;
}

.when, .when-style {
	font-size: 10px;
	color: #666;
}

.chatbox {
	min-height: 300px;
	max-height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #f6f7f9;
	margin-bottom: 10px;
}

.chatmessage:empty {
	height: 100px;
	position: relative;
}

.chatmessage:empty:after {
	content: 'No chat message!';
	position: absolute;
	top: 10px;
	left: 10px;
	display: block;
}

ul.chatmessage li.collection-item:nth-child(even) {
	background: #83c7c1;
}

.clearfix {
	width: 100%;
	clear: both;
}

i.deletemsg {
	position: absolute;
	top: 4px;
	right: 4px;
	color: red;
	font: 14px/100% arial, sans-serif;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
}
i.deletemsg:after{
	content: '✖'; /* UTF-8 symbol */
}
i.deletemsg:focus, i.deletemsg:hover {
	color: #AF0000;
	text-decoration: none;
	cursor: pointer;
	opacity: .85;
}

.show {
	visibility: visible;
	opacity: 1;
}

.hidden {
	display: none;
	visibility: hidden;
	opacity: 0;
}

.msgTextBox{
	flex: 1;
}

.msgSubmitBtn{
	flex-shrink: 0;
}

#clearAllMessages{
	margin-bottom: 4px;
}