.nowrap{
    white-space:nowrap;
    /*not add line on space*/
}
.breakword{
    word-wrap:break-word;
    /*add line in word*/
}
.cutword{
    white-space:nowrap !important;
    overflow:hidden !important;
    text-overflow:ellipsis !important;
}
.clickable{
    cursor:pointer !important;
}
.respondsTo .badge-container{
    padding: 0!important;
}
.respondsTo .badge{
    margin-left: 4px!important;
    margin-right: 4px!important;
}


.initial-box-sizing, .initial-box-sizing:before{
    //required for pace and bootstrap compatibility (border-box => content-box)
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
}
.pace-progress{
    -webkit-transform: translate3d(50%, 0px, 0px);
    -ms-transform: translate3d(50%, 0px, 0px);
    transform: translate3d(50%, 0px, 0px);
}



#app{
	margin-top: 10px;
}


.card{
    margin: 10px;
    border: 1px solid #d3d3d3;
}
.card-block{
    padding: 4px;
    background-color: #e6e6e6;
}
.card-header{
	background-color: #e6e6e6;
}
.card-header.onlinePc{
    background-color: rgba(56, 183, 138, 0.8);
}


.btn-plugin-container{
    display: flex;
}
.btn-plugin-choice{
    flex: 5;
    cursor: pointer;
}
.btn-plugin-submit{
    flex: 1;
    cursor: pointer;
}
.btn-plugin-link{
    width:100%;
}
.btn-plugin-value{
    width:90%;
    overflow-x:hidden;
    overflow-y:hidden;
    display:inline-block;
}
.dropdown-item{
    cursor: pointer;
}


/* Gun.js DB Modal */
#gunDbContent {
    font-family: 'Courier New', monospace;
    font-size: 12px;
    line-height: 1.4;
}

#gunDbJson {
    color: #333;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#gunDbShowBtn {
    margin-left: auto;
}

/* smartphones */
@media only screen and (max-width : 992px) {
    body{
        font-size: 1.4rem;
    }
    .btn{
        font-size: 1.4rem;
    }
    .dropdown-menu{
        font-size: 1.4rem;
    }
    .popover{
        font-size: 1.2rem;
    }
}
